// _variaveis.scss
$cor-primaria: #007b8a;
$cor-secundaria: #00bcd4;
$cor-texto: #333;
$cor-fundo: #f9f9f9;
$cor-branca: #fff;

$radius-padrao: 16px;
$sombra-leve: 0 2px 8px rgba(0, 0, 0, 0.05);

$espacamento-base: 1rem;
$fonte-base: "Poppins", Arial, sans-serif;
